<a href="https://colab.research.google.com/github/Slrosales/Python_Para_Ingenieria/blob/main/M%C3%B3dulo%201/2_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas y sus funciones

Las listas son estructuras de datos muy versátiles y ampliamente utilizadas para almacenar y manipular datos en un programa, especificamente es una colección ordenada de elementos que pueden ser de diferentes tipos (números, cadenas, otros objetos, etc.).

In [17]:
lista_numeros = [1, 2, 2, 3, 4, 5]
lista_nombres = ["Luna", "Giuseppe", "Laura", "Rubens"]
lista_multi = [1, "hola", 2.5]

[pos 0, pos 1, pos 2, ... , pos n]

In [18]:
lista = [0, 8, 1, 2, 3, 3, 4]

In [19]:

# Imprime el valor en la posicón 1 de la lista
# nombre_lista[indice]
print(lista[1])

8

In [20]:
# Imprime el valor en la posicón -1 de la lista
# (De derecha a izquierda)
print(lista[-1])

4

In [21]:
# Dame los primeros 3 valores
# nombre_lista[pos inicial, pos final, paso]
print(lista[:3])

[0, 8, 1]

In [22]:
print(lista[2:5])

[1, 2, 3]

In [23]:
# Invertir orden de la lista
nueva_lista = lista[::-1]
nueva_lista

[4, 3, 3, 2, 1, 8, 0]

In [24]:
print(lista)
print(nueva_lista)

[0, 8, 1, 2, 3, 3, 4]
[4, 3, 3, 2, 1, 8, 0]

## Funciones

In [25]:
# len(lista): Retorna la longitud (número de elementos) de la lista
print(f"El tamaño de la lista es: {len(lista)}\n")

El tamaño de la lista es: 7

In [26]:
# lista.append(elemento): Agrega un elemento al final de la lista.
lista.append(5)
print("Se agrega el número 5 a la lista")
print(lista, "\n")

Se agrega el número 5 a la lista
[0, 8, 1, 2, 3, 3, 4, 5]

In [27]:
# lista.insert(posicion, elemento): Inserta un elemento en una posición específica de la lista.
print("Se inserta una 'x' en la posición 3")
lista.insert(3, "x")
print(lista, "\n")

Se inserta una 'x' en la posición 3
[0, 8, 1, 'x', 2, 3, 3, 4, 5]

In [28]:
# lista.remove(elemento): Remueve la primera aparición del elemento de la lista.
print("Se elimina la 'x' de la lista")
lista.remove("x")
print(lista, "\n")

Se elimina la 'x' de la lista
[0, 8, 1, 2, 3, 3, 4, 5]

In [29]:
#lista.pop(posicion): Remueve y retorna el elemento en la posición especificada.
print(f"Se obtine el número en la posición 6 ({lista.pop(6)}) y se elimina")
print(lista, "\n")

Se obtine el número en la posición 6 (4) y se elimina
[0, 8, 1, 2, 3, 3, 5]

In [30]:
# elemento in lista: Verifica si un elemento está presente en la lista.
print(f"¿Está el 4 en la lista?\nRespuesta: {4 in lista}\n")

print(f"¿Esta el 6 en la lista?\nRespuesta: {6 in lista}\n")

¿Está el 4 en la lista?
Respuesta: False

¿Esta el 6 en la lista?
Respuesta: False

In [31]:
# lista.index(elemento): Retorna el índice de la primera aparición del elemento.
print(f"En la posición 0 esta el número: {lista.index(0)}\n")

En la posición 0 esta el número: 0

In [32]:
# lista.count(elemento): Cuenta cuántas veces aparece un elemento en la lista.
print(f"El número 3 esta {lista.count(3)} veces en la lista\n")

El número 3 esta 2 veces en la lista

In [33]:
# lista.sort(): Ordena los elementos de la lista en orden ascendente.
lista.sort()
print(f"Lista ordenada: {lista}\n")

Lista ordenada: [0, 1, 2, 3, 3, 5, 8]

In [34]:
# lista.reverse(): Invierte el orden de los elementos en la lista.
lista.reverse()
print(f"Lista en orden inverso: {lista}")

Lista en orden inverso: [8, 5, 3, 3, 2, 1, 0]

## Diferencia entre `.pop()` y `.remove()`

In [11]:
# Quito un valor de la lista
x = lista.pop(1)
x

5

In [12]:
lista

[8, 3, 3, 2, 1, 0]

In [13]:
# Elimino un valor de la lista
x = lista.remove(1)
x

No imprime nada porque `.remove()` no guarda ese valor de la lista como el `.pop()`, literalmente lo eliminó y renombró la lista como x

In [14]:
lista

[8, 3, 3, 2, 0]

## Ejemplos

In [15]:
# Nueva lista2 con los valores de lista + 1
lista2 = []
for elemento in lista:
    lista2.append(elemento + 1)

print(lista2)

[9, 4, 4, 3, 1]

In [16]:
# La lista3 tiene en la posción i la suma de los valores de lista y lista2 en la posición i

lista3 = []
for i in range(len(lista)):
    suma = lista[i] + lista2[i]
    lista3.append(suma)

print(lista3)

[17, 7, 7, 5, 1]